.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.secText {

    width: 890px;
    text-align: left;
    font: normal normal normal 12px/18px Helvetica Neue;
    letter-spacing: 0px;
    color: #888888;
    opacity: 1;
    display: flex;
    justify-content: space-between;
    /* margin: 20px 0; */
    margin-right: 20px;

}

.h3 {
    top: 780px;
    left: 649px;
    width: 215px;
    height: 40px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
    margin-top: 10px;
    font-size: 18px;
}

.secDisplay {
    margin-top: 30px;
    width: 930px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-family: HelveticaNeue;
}

.secEsp,
.secShare {
    margin-top: 45px;
    display: flex;
    gap: 10px;
    font-size: 18px;
    font-weight: 300;
    font-family: HelveticaNeue;
}

.h4Section {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 14px;
    font-weight: 300;
    font-family: HelveticaNeue;
    align-items: center;
    text-align: center;
}

hr {
    margin-top: 10px;
    width: 360px;
    height: 1px;
    border-top: 2px solid #707070;
}

.btn {
    font-size: 16px;
    background: #FFF;
    border: 1px solid #707070;
    border-radius: 4px;
    color: #888888;
    height: 30px;
    width: 200px;
    text-align: center;
    font-family: HelveticaNeue;
    letter-spacing: 0px;
    color: #888888;
    padding: 10px;
    width: 260px;
    height: 39px;
    margin-top: 20px;
    margin-bottom: 60px;
}